html,
body {
    height: 100%;
    background-color: #000762 !important;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.login-form {
    width: 380px;
    height: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 10px !important;
}